In [114]:
#Health Data in Philadelphia Counties

In [115]:
##This health data set consists of quality of life, fair on poor health, health insurance, diabetes, food environment index, and physical environment variables. I will review the data, trim, and create maps.

In [116]:
###Author: Cassie Truong

In [117]:
#generating a library
import pandas as pd

In [118]:
#loading the data file which includes all counties in Pennsylvania 
df = pd.read_csv('data/R13285248_SL050.csv')

In [119]:
#generating a sample of the data
df. head()

,Geo_FIPS,Geo_NAME,Geo_QNAME,Geo_NATION,Geo_STATE,Geo_COUNTY,SE_T001_001,SE_T001_002,SE_T002_001,SE_T006_001,...,SE_T013_001,SE_T016_001,SE_T016_002,SE_T016_003,SE_T016_004,SE_T016_005,SE_T016_006,SE_T016_007,SE_T016_008,SE_T016_009
0,42001,Adams County,"Adams County, Pennsylvania",0,42,1,3.913615,4.388497,15.315659,4.854369,...,8.9,10.6,Yes,12.255030,10.346639,1.881369,0.640188,82.562748,49205,39.5
1,42003,Allegheny County,"Allegheny County, Pennsylvania",0,42,3,3.220145,3.835273,12.731568,2.901556,...,7.7,13.3,Yes,13.830438,12.577255,0.750365,1.275714,71.456442,613550,39.2
2,42005,Armstrong County,"Armstrong County, Pennsylvania",0,42,5,3.952488,4.538588,16.276179,3.434266,...,8.2,11.9,Yes,10.141593,8.613295,0.902655,1.592920,83.296688,29108,44.0
3,42007,Beaver County,"Beaver County, Pennsylvania",0,42,7,3.804373,4.248324,14.951930,2.834660,...,7.5,11.0,Yes,10.540618,9.045625,1.036899,0.793764,81.887787,79670,36.3
4,42009,Bedford County,"Bedford County, Pennsylvania",0,42,9,3.913448,4.444887,15.521744,5.238531,...,8.4,10.6,Yes,11.617312,9.472343,1.695773,1.088332,81.165414,21280,35.1

In [120]:
#looking at the types of data that are in the set
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Geo_FIPS      67 non-null     int64
 1   Geo_NAME      67 non-null     object
 2   Geo_QNAME     67 non-null     object
 3   Geo_NATION    67 non-null     int64
 4   Geo_STATE     67 non-null     int64
 5   Geo_COUNTY    67 non-null     int64
 6   SE_T001_001   67 non-null     float64
 7   SE_T001_002   67 non-null     float64
 8   SE_T002_001   67 non-null     float64
 9   SE_T006_001   67 non-null     float64
 10  SE_T006_003   67 non-null     float64
 11  SE_NV005_001  67 non-null     int64
 12  SE_NV005_003  67 non-null     int64
 13  SE_T009_001   67 non-null     float64
 14  SE_NV007_001  0 non-null      float64
 15  SE_T013_001   67 non-null     float64
 16  SE_T016_001   67 non-null     float64
 17  SE_T016_002   67 non-null     object
 18  SE_T016_003   67 non-null     float64
 19  SE_T016_004   67 non-null     float64
 20  SE_T016_005   67 non-null     float64
 21  SE_T016_006   67 non-null     float64
 22  SE_T016_007   67 non-null     float64
 23  SE_T016_008   67 non-null     int64
 24  SE_T016_009   67 non-null     float64
dtypes: float64(15), int64(7), object(3)
memory usage: 13.2+ KB

In [121]:
#From the data set above, I'm going to reimport the following as a string: FIPS, STATE, COUNTY

In [122]:
#reimporting data as a string
df = pd.read_csv(
    'data/R13285248_SL050.csv',
    dtype=
    {
        'Geo_FIPS':str,
        'Geo_STATE':str,
        'Geo_COUNTY':str,
    }
)

In [123]:
#checking if the data's been converted
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Geo_FIPS      67 non-null     object
 1   Geo_NAME      67 non-null     object
 2   Geo_QNAME     67 non-null     object
 3   Geo_NATION    67 non-null     int64
 4   Geo_STATE     67 non-null     object
 5   Geo_COUNTY    67 non-null     object
 6   SE_T001_001   67 non-null     float64
 7   SE_T001_002   67 non-null     float64
 8   SE_T002_001   67 non-null     float64
 9   SE_T006_001   67 non-null     float64
 10  SE_T006_003   67 non-null     float64
 11  SE_NV005_001  67 non-null     int64
 12  SE_NV005_003  67 non-null     int64
 13  SE_T009_001   67 non-null     float64
 14  SE_NV007_001  0 non-null      float64
 15  SE_T013_001   67 non-null     float64
 16  SE_T016_001   67 non-null     float64
 17  SE_T016_002   67 non-null     object
 18  SE_T016_003   67 non-null     float64
 19  SE_T016_004   67 non-null     float64
 20  SE_T016_005   67 non-null     float64
 21  SE_T016_006   67 non-null     float64
 22  SE_T016_007   67 non-null     float64
 23  SE_T016_008   67 non-null     int64
 24  SE_T016_009   67 non-null     float64
dtypes: float64(15), int64(4), object(6)
memory usage: 13.2+ KB

In [124]:
df.sample(5)

,Geo_FIPS,Geo_NAME,Geo_QNAME,Geo_NATION,Geo_STATE,Geo_COUNTY,SE_T001_001,SE_T001_002,SE_T002_001,SE_T006_001,...,SE_T013_001,SE_T016_001,SE_T016_002,SE_T016_003,SE_T016_004,SE_T016_005,SE_T016_006,SE_T016_007,SE_T016_008,SE_T016_009
12,42025,Carbon County,"Carbon County, Pennsylvania",0,42,025,3.999197,4.387381,16.700429,3.963582,...,8.3,10.2,Yes,14.061592,12.468193,1.545613,1.142746,83.817038,28771,51.8
18,42037,Columbia County,"Columbia County, Pennsylvania",0,42,037,4.065829,4.535677,16.845910,3.604345,...,8.1,10.5,Yes,12.464428,11.516680,0.872700,0.626067,84.054226,29801,28.7
39,42079,Luzerne County,"Luzerne County, Pennsylvania",0,42,079,4.323581,4.610140,17.470788,4.097271,...,8.0,10.3,Yes,14.363016,12.955610,1.148884,0.874407,81.295501,147248,25.4
49,42099,Perry County,"Perry County, Pennsylvania",0,42,099,3.706287,4.204321,14.256445,6.341272,...,8.6,11.4,No,9.756779,8.073136,1.397819,0.615041,79.275511,22471,58.7
62,42125,Washington County,"Washington County, Pennsylvania",0,42,125,3.586249,4.142438,14.395119,3.291492,...,8.1,10.3,Yes,10.382709,8.992285,0.835871,1.337393,82.480601,97686,40.2

In [ ]:
#reviewing which column has no code
df.columns[df.isna().all()].tolist()

['SE_NV007_001']

In [ ]:
#the column that has no code is suppose to be data for individuals with diabetes. since it adds no value, i'm dropping the column

In [132]:
df = df.dropna(axis=1,how="all")

In [133]:
#confirming the column has been dropped

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Geo_FIPS      67 non-null     object
 1   Geo_NAME      67 non-null     object
 2   Geo_QNAME     67 non-null     object
 3   Geo_NATION    67 non-null     int64
 4   Geo_STATE     67 non-null     object
 5   Geo_COUNTY    67 non-null     object
 6   SE_T001_001   67 non-null     float64
 7   SE_T001_002   67 non-null     float64
 8   SE_T002_001   67 non-null     float64
 9   SE_T006_001   67 non-null     float64
 10  SE_T006_003   67 non-null     float64
 11  SE_NV005_001  67 non-null     int64
 12  SE_NV005_003  67 non-null     int64
 13  SE_T009_001   67 non-null     float64
 14  SE_T013_001   67 non-null     float64
 15  SE_T016_001   67 non-null     float64
 16  SE_T016_002   67 non-null     object
 17  SE_T016_003   67 non-null     float64
 18  SE_T016_004   67 non-null     float64
 19  SE_T016_005   67 non-null     float64
 20  SE_T016_006   67 non-null     float64
 21  SE_T016_007   67 non-null     float64
 22  SE_T016_008   67 non-null     int64
 23  SE_T016_009   67 non-null     float64
dtypes: float64(14), int64(4), object(6)
memory usage: 12.7+ KB

In [136]:
#From the dictionary, the columns that will be kept include: 
- FIPS: FIPS
- NAME: Name of Area
- T013_001: Food Environment Index
- T001_001: Physically Unhealthy Days per Month (Persons 18 Years and Over)
- T001_002: Mentally Unhealthy Days per Month (Persons 18 Years and Over)
- T016_001: Air Pollution Particulate Matter Average Daily Pm2.5

SyntaxError: illegal target for annotation (421225674.py, line 2)

In [137]:
#Creating a new variable to keep the aforementioned columns
columns_to_keep = ['Geo_FIPS',
                   'Geo_NAME',
                   'SE_T013_001',
                   'SE_T001_001',
                   'SE_T001_002',
                   'SE_T016_001']

In [138]:
df2 = df[columns_to_keep]

In [139]:
#confirming data
df2.sample(5)

,Geo_FIPS,Geo_NAME,SE_T013_001,SE_T001_001,SE_T001_002,SE_T016_001
34,42069,Lackawanna County,8.1,4.187632,4.557795,9.9
23,42047,Elk County,8.6,3.899935,4.320439,9.8
62,42125,Washington County,8.1,3.586249,4.142438,10.3
11,42023,Cameron County,7.9,4.081304,4.501331,8.9
63,42127,Wayne County,8.6,3.915942,4.252721,9.2

In [140]:
#renaming columns by first creating a list of how they are named now
columns = list(df2)
columns

['Geo_FIPS',
 'Geo_NAME',
 'SE_T013_001',
 'SE_T001_001',
 'SE_T001_002',
 'SE_T016_001']

In [141]:
#keeping the same sequence, now renaming the columns
df2.columns = ['FIPS',
               'County',
               'Food Env Index',
               'Physically Unhealthy Days/Month',
               'Mentally Unhealthy Days/Month',
               'Air Pollution Particulate Matter Avg. Daily PM 2.5'
              ]

In [143]:
#confirming renamed columns
df2.sample()

,FIPS,County,Food Env Index,Physically Unhealthy Days/Month,Mentally Unhealthy Days/Month,Air Pollution Particulate Matter Avg. Daily PM 2.5
45,42091,Montgomery County,8.7,3.187519,3.925691,9.2

In [144]:
df2.sample(5)

,FIPS,County,Food Env Index,Physically Unhealthy Days/Month,Mentally Unhealthy Days/Month,Air Pollution Particulate Matter Avg. Daily PM 2.5
57,42115,Susquehanna County,8.5,4.040530,4.383709,9.2
20,42041,Cumberland County,8.5,3.632992,4.073268,9.8
55,42111,Somerset County,7.9,3.856948,4.269974,10.7
32,42065,Jefferson County,8.3,4.081392,4.434794,10.8
22,42045,Delaware County,8.2,3.805849,4.007199,11.9

In [ ]:
#Now, I'm going to focus in on Food Environment Index, which ranges from 0 (worst ) to 10 (best) and equally weighs two incidators of the environment: limited access to healthy foods and food insecurity. 
df2['Food Env Index'].describe()

In [ ]:
df2['Food Env Index'].median()

In [ ]:
#It seems like across all counties in Philadelphia have decent access to healthy foods.

In [ ]:
df2['Air Pollution Particulate Matter Avg. Daily PM 2.5'].describe()

In [ ]:
#This category of data shows the average Daily PM for the county. It looks like PM is higher than 2.5, with the lowest being 8.5 and highest being 13.3.

In [ ]:
#generating statistics for physically unhealthy days per month.
df2['Physically Unhealthy Days/Month'].describe()

In [ ]:
#generating statistics for mentally unhealthy days per month.
df2['Mentally Unhealthy Days/Month'].describe()

In [ ]:
#generating a scatter plot looking at physically unhealthy days/month against air pollution particulate matter.
df2.plot.scatter(x='Physically Unhealthy Days/Month', y='Air Pollution Particulate Matter Avg. Daily PM 2.5')

In [ ]:
#generating a scatter plot looking at mentally unhealthy days/month against air pollution particulate matter.
df2.plot.scatter(x='Mentally Unhealthy Days/Month', y='Air Pollution Particulate Matter Avg. Daily PM 2.5')

In [ ]:
#Sorting the data from lowest to highest physically unhealthy days/month
df2_physunhlthsorted = df2.sort_values(by= 'Physically Unhealthy Days/Month', ascending = True)

In [ ]:
#checking data
df2_physunhlthsorted

In [ ]:
#creating a horizontal bar graph with the first ten rows of the sorted data
df2_physunhlthsorted.head(10).plot.barh(x='County',
                                        y='Physically Unhealthy Days/Month',
                                        title= 'Top 10 Counties in Philadelphia with Lowest Pysically Unhealthy Day/month',
                                        color= 'pink')

In [ ]:
#Sorting the data from lowest to highest access to healthy foods
df2_foodenvsorted = df2.sort_values(by= 'Food Env Index', ascending = True)

In [ ]:
df2_foodenvsorted

In [ ]:
#creating a horizontal bar graph with the first ten rows of the sorted data
df2_foodenvsorted.head(10).plot.barh(x='County',
                                        y='Food Env Index',
                                        title= 'Top 10 Counties in Philadelphia with Lowest Access to Healthy Foods',
                                        color= 'teal')

In [151]:
#filtering data for counties in Philadelphia only

IndexError: positional indexers are out-of-bounds

In [ ]:
#filtering data for counties in Philadelphia only
df2[df2['County']== 'Bucks County']

In [ ]:
#saving the variable
df2_bucks = df2[df2['FIPS']== '42017']

In [ ]:
df2_bucks

In [ ]:
df2[df2['County']== 'Chester County']

In [ ]:
#saving the variable
df2_chester = df2[df2['County']== 'Chester County']

In [ ]:
df2_chester

In [ ]:
df2